@font-face{
    font-family: 'skill';
    src: url('./start/fonts/Gilroy-Regular.woff');
}
@font-face{
    font-family: 'skillMed';
    src: url('./start/fonts/Gilroy-ExtraBold.woff');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'skill'
}
a{
    text-decoration: none;
}
body{
    height: 100vh;
}


/* page 1 */
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background: #222020;
}
.main-content h1{
    margin-bottom: 40px;

    color: #fff;
}
.download-info{
    padding: 15px 20px;

    background: blue;
    border: 1px solid blue;
    color: #fff;
    font-size: 14px;
}
.more-info{
    padding: 15px 20px;

    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
}

/* page 2 */
.back-page{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 20px;

    color: #202020;
    font-weight: 300;
}
.back-page img{
    margin-right: 5px;
    width: 20px;
}
.page-body{
    margin: auto;
    max-width: 1200px;
    width: 100%;

    font-weight: 900;
}
.main-title{
    margin: auto;
    width: 100%;
    max-width: 1000px;

    font-size: 40px;
    font-family: 'skillMed';
}
h3{
    margin-bottom: 20px;
    margin-top: 80px;

    color: blue;
    font-size: 32px;
    font-family: 'skillMed';
}
ol,
li,
p{
    font-weight: 300;
    line-height: 150%;
}
.content{
    max-width: 800px;
    width: 100%;
    margin: auto;
}
figure{
    width: 300px;
    margin-top: 40px;
    margin-left: 20px;
}
figure img{
    width: 100%;
}
figure figcaption{
    text-align: center;
    font-weight: 300;
}
table{
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;

    border-collapse: collapse;
    font-weight: 300;
}
th,
td{
    padding: 10px;

    border: 1px solid #202020;
}