@font-face{
    font-family: 'millLight';
    src: url('./../fonts/MullerLight.woff');
}
@font-face{
    font-family: 'millRegular';
    src: url('./../fonts/MullerRegular.woff');
}
@font-face{
    font-family: 'millMedium';
    src: url('./../fonts/MullerMedium.woff');
}
@font-face{
    font-family: 'millBold';
    src: url('./../fonts/MullerBold.woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    outline: none;

    font-family: 'millRegular', sans-serif;
}

main,
.container{
    max-width: 1170px;
    margin: auto;
}
.section-heading{
    margin-left: 40px;
    margin-top: 70px;
    margin-bottom: 30px;

    font-size: 40px;
    line-height: 1;
    color: #333333;
}

body{
    background: #F1F1F1;
}
.btn{
    padding: 13px 20px;

    font-size: 16px;
    line-height: 1;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
    background: transparent;

    cursor: pointer;
}


.header-content-bottom,
.header-content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content-top{
    margin-bottom: 30px;
    margin-top: 30px;
}
.header-list{
    display: flex;
}
.header-item:not(:last-child){
    margin-right: 45px;
}
.header-logo{
    margin-right: 40px;
}
.header-top-left{
    display: flex;
    align-items: center;
}
.header-content-bottom{
    padding: 15px 45px;

    background: #fff;
    border-radius: 15px;
}
.header-phone{
    color: #666;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
}
.header-profile-icon{
    margin-right: 5px;

    display: inline-block;
    width: 20px;
    height: 20px;

    background: url('./../img/profile-icon.svg') no-repeat center center;
    background-size: contain;

    transform: translateY(3px);
}
.header-profile{
    color: #CC9933;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
}
.header-link{
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    color: #666;
}
.vertical-line{
    position: relative;

    width: 1px;
    height: 20px;
}
.vertical-line::before{
    content: '';
    position: absolute;
    top: 50%;

    width: 1px;
    height: 50px;

    background: #e1e1e1;

    transform: translateY(-50%);
}


.special-list{
    display: flex;
}
.special-price{
    margin-top: 15px;
    margin-bottom: 47px;
}
.special-item{
    flex: 1 1 50%;

    
}
.special-item:not(:last-child){
    margin-right: 30px;
}
.special-item:not(:last-child) .special-item-info:last-child{
    margin-top: 20px;
}
.special-item-info{
    padding: 40px;

    width: 100%;

    border-radius: 15px;
}
.special-mini-1{
    background: url('./../img/bg-special-mini-1.png') no-repeat;
}
.special-mini-2{
    background: url('./../img/bg-special-mini-2.png') no-repeat;
}
.special-item-full{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: url('./../img/bg-special-full.png') no-repeat;
}
.special-heading{
    max-width: 300px;

    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    color: #FFFFFF;
}
.special-price{
    font-size: 20px;
    line-height: 1;
    color: #FFFFFF;
    opacity: 0.8;
}
.special-info{
    font-size: 16px;
    line-height: 1;
    color: #FFCC66;
}
.special-icon{
    width: 15px;
    height: 15px;
    display: inline-block;

    background: url('./../img/special-arrow.svg') no-repeat;
    background-size: contain;

    transform: translateY(3px);
    margin-left: 5px;
}



.about-description{
    max-width: 900px;

    font-size: 16px;
    line-height: 200%;
    color: #000000;
}



.services-list{
    display: flex;
    justify-content: space-between;
}
.services-list{
    margin-top: 20px;
}
.services-item{
    padding-bottom: 50px;

    flex: 1 1 50%;

    background: #fff;
    border-radius: 15px;
}
.services-item:not(:last-child){
    margin-right: 25px;
}
.services-heading{
    padding-left: 45px;

    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
}
.services-icon{
    margin-top: 25px;
    margin-left: 10px;

    display: inline-block;
    width: 20px;
    height: 20px;

    background: url('./../img/services-arrow.svg') no-repeat;
    background-size: contain;

    transform: translateY(4px);
}
.services-description{
    padding-left: 45px;

    max-width: 410px;

    font-size: 16px;
    line-height: 200%;
    color: #000000;
}



.advantages-list{
    display: flex;
}
.advantages-list:not(:last-child){
    margin-bottom: 25px;
}
.advantages-item{
    padding: 40px 45px;

    flex: 1 1 25%;

    background: #fff;
    border-radius: 15px;
}
.advantages-item:not(:last-child){
    margin-right: 25px;
}
.advantages-image{
    margin-bottom: 10px;
}
.advantages-description{
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}



.placement-list{
    display: flex;
}
.placement-list:not(:last-child){
    margin-bottom: 25px;
}
.placement-item{
    padding-bottom: 40px;

    flex: 1 1 33.33%;

    background: #fff;
    border-radius: 15px;
}
.placement-item:not(:last-child){
    margin-right: 25px;
}
.placement-btn{
    display: inline-block;
}
.placement-total-info{
    padding-top: 35px;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
}
.placement-heading,
.placement-description,
.placement-btn{
    margin-left: 45px;
    margin-top: 15px;
}
.placement-btn{
    margin-top: 20px;
}
.placement-heading{
    font-size: 16px;
    line-height: 1;
    color: #000;
}
.placement-description{
    font-size: 16px;
    line-height: 1;
    color: #999;
}
.placement-total-price{
    font-size: 16px;
    line-height: 1;
    color: #999;
}
.placement-price{
    color: #000;
}
.placement-rating{
    display: flex;
}
.star{
    width: 15px;
    height: 15px;

    background: url('./../img/star.svg');
}
.star:not(:last-child){
    margin-right: 5px;
}
.star-zero{
    background: url('./../img/star-zero.svg');
}
.placement-item-full{
    background: url('./../img/placement-full-bg.png');
}
.placement-description-full{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
}
.placement-icon{
    margin-left: 10px;

    width: 20px;
    height: 20px;
    
    background: url('./../img/placement-arrow.svg') no-repeat;

    transform: translateY(-8px);
}